<h3 class="text-center"><strong class="text-danger border-bottom border-danger">TODO CRUD</strong></h3>
<hr class="bg-primary">

<h3 class="bg-primary text-center font-weight-bold text-white p-1 rounded">{{isinEditMode ? 'UPDATE TODO': 'ADD TODO'}}</h3>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="todoitem">TODO ITEM :-</label>
            <input 
            #todoitem
            type="text" class="form-control">
        </div>

        <div>
            <button 
            *ngIf="!isinEditMode"
            (click)="onAdd(todoitem)"
            mat-flat-button color="primary" class="w-100">ADD TODO</button>

            <button 
            *ngIf="isinEditMode"
            (click)="onUpdate(todoitem)"
            mat-flat-button color="accent" class="w-100">UPDATE TODO</button>
        </div>
    </div>

    <div class="col-md-6">
        <ul class="list-group" *ngIf="todoarr.length > 0;else: noTodo">
            <li 
                *ngFor="let todo of todoarr"
                class="list-group-item d-flex justify-content-between font-weight-bold">{{todo.todoitem}}
            
                <span>
                    <button 
                    (click)="onEdit(todo,todoitem)"
                    mat-ripple class="mr-2"><mat-icon color="primary">colorize</mat-icon></button>

                    <button 
                    (click)="ondelete(todo.todoid)"
                    mat-ripple><mat-icon color="warn">delete</mat-icon></button>
                </span>
            </li>
        </ul>

        <ng-template #noTodo>
            <div class="alert alert-warning">
                CURRENTY NO TODO IS ADDED !!!!
            </div>
        </ng-template>
    </div>
</div>
