<!-- <app-one></app-one> -->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- <app-post-dashboard></app-post-dashboard> -->
             <!-- <app-mobile-dashboard></app-mobile-dashboard> -->
              <!-- <app-machine-test></app-machine-test> -->
               <!-- <app-std-crud></app-std-crud> -->
<!-- <hr class="bg-primary"> -->
            <!-- <app-todo-crud></app-todo-crud> -->
<!-- <hr class="bg-primary"> -->

            <!-- <app-movie-dashbord></app-movie-dashbord> -->
             <!-- <app-machine-todo></app-machine-todo> -->
             <hr class="bg-primary">

            <app-todo-three-io-dashboard></app-todo-three-io-dashboard> 
             <hr class="bg-primary">
             <app-std-three-io-dashboard></app-std-three-io-dashboard>
             <hr class="bg-primary">
             <app-std-two-io-dashbord></app-std-two-io-dashbord>
              <hr class="bg-primary">
            <app-todo-io-dashbord></app-todo-io-dashbord>
               <hr class="bg-primary">
                <app-machine-todo-io-dashbord></app-machine-todo-io-dashbord>
                <hr class="bg-primary">
            <app-std-crud-io-dashbord></app-std-crud-io-dashbord>
            <hr class="bg-primary">
            <app-todo-io-two-dashboard></app-todo-io-two-dashboard>
            <hr class="bg-primary">
            <app-std-three-io-dashboard></app-std-three-io-dashboard>
            <hr class="bg-primary">
            <hr class="bg-primary">
            <app-machine-std></app-machine-std>
        </div>
    </div>
</div>