<!-- <app-one></app-one> -->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- <app-post-dashboard></app-post-dashboard> -->
             <!-- <app-mobile-dashboard></app-mobile-dashboard> -->
              <!-- <app-machine-test></app-machine-test> -->
               <!-- <app-std-crud></app-std-crud> -->
<!-- <hr class="bg-primary"> -->
            <!-- <app-todo-crud></app-todo-crud> -->
<!-- <hr class="bg-primary"> -->

            <!-- <app-movie-dashbord></app-movie-dashbord> -->
             <!-- <app-machine-todo></app-machine-todo> -->
             <hr class="bg-primary">
             <!-- <app-machine-std></app-machine-std> -->
              <!-- <app-todo-io-dashbord></app-todo-io-dashbord> -->
               <!-- <app-todo-io-two-dashboard></app-todo-io-two-dashboard> -->
                <!-- <app-machine-todo-io-dashbord></app-machine-todo-io-dashbord> -->
            <app-std-crud-io-dashbord></app-std-crud-io-dashbord>
        </div>
    </div>
</div>