<ul *ngIf="todoobj.length > 0;else notodo" class="list-group">
    <li 
    *ngFor="let todo of todoobj"
    class="list-group-item d-flex justify-content-between font-weight-bold text-secondary">{{todo.todoitem}}

        <div>
            <button 
            (click)="onedit(todo)"
            mat-fab color="primary" class="mr-2"><mat-icon>edit</mat-icon></button>

            <button 
            (click)="onremove(todo.todoid)"
            mat-fab color="warn"><mat-icon>delete</mat-icon></button>
        </div>
    </li>
</ul>

<ng-template #notodo>
    <p class="alert alert-warning">NO TODO-ITEM CURRENTLY !!!!!</p>
</ng-template>
