<div class="row">
    <div class="col-md-6 offset-md-3">
        <app-todo-id-two-form
        (emitNewtodo)="getnewtodo($event)"
        [getEdit]="editObj"
        (emitupdatetodo)="gteupdateobj($event)"
        ></app-todo-id-two-form>
    </div>
</div>
<hr class="bg-primary">
<div class="row">
    <div class="col-md-12">
        <app-todo-io-two-list
        [todoobj]="todoarr"
        (emitremovetodo)="getremoveId($event)"
        (emiteditobj)="geteditobj($event)"
        ></app-todo-io-two-list>
    </div>
</div>
