<form #todoform="ngForm" (ngSubmit)="ontodoAdd()">
    <div class="form-group">
        <label for="todoitem">TODO ITEM :-</label>
        <input 
        ngModel
        name="todoitem"
        type="text" class="form-control">
    </div>

    <div>
        <button 
        *ngIf="!isineditmode"
        mat-raised-button color="primary" class="btn-block">ADD TODO</button>

        <button 
        *ngIf="isineditmode"
        (click)="onUpdate()"
        mat-raised-button color="warn" class="btn-block">UPDATE TODO</button>
    </div>
</form>
